
pre.js-oxpre {
  font-family:monospace;
  background-color:#1c1e22;
  color:white;
  border:1px solid black;
  width:100%;
  font-size:12px;
  position:relative;
  overflow:auto;
}
#app-container .modal-content pre{
  max-height: 500px;
}
#app-container .col-jobs-params pre {
  max-height:300px;
}

#app-container .modal-content textarea {
  height:500px;
}

table.datatable {
  table-layout: fixed !important;
}
table.datatable td {
  word-wrap:break-word;
}

div.dataTables_paginate ul {
  margin:0;
}
div.dataTables_info {
  float:left;
  padding:5px;
}

.container {
  width:inherit;
}

.jqstooltip {
  box-sizing: content-box;
}

.stat {
  margin-left: 50px;
  display: inline;
}


.spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}