pytest==2.9.1
pylint==1.5.2
pytest-cov==1.8.1
pytest-instafail==0.3.0
pytest-html==1.8.0
pytest-httpbin==0.2.0

subprocess32==3.2.5; python_version < '3.2'
# git+https://github.com/srlindsay/gevent-profiler@master#egg=gevent-profiler==0.2

# Used to test IO tracing
requests==2.9.1

mkdocs==0.15.3
mistune==0.7.3
