pytest==2.7.0
pylint==1.5.2
pytest-cov==1.8.1
pytest-html==1.0
pytest-httpbin==0.0.6
pytest-circleci==0.0.2
pytest-instafail==0.3.0

subprocess32==3.2.5
#git+https://github.com/srlindsay/gevent-profiler@master#egg=gevent-profiler==0.2

# Used to test IO tracing
requests==2.4.3

mkdocs==0.11.1
mistune==0.5