argparse>=1.1
redis==2.10.6
pymongo>=3.0.1
gevent>=1.2.2
ujson>=1.33
hiredis>=0.1.5
psutil>=5.1.2,<6.0
objgraph>=1.8.1
termcolor>=1.1.0
subprocess32>=3.2.7; python_version < '3.2' and sys.platform != "win32"
future>=0.15.2
importlib>=1.0.3; python_version < '2.7'
hiro==0.5
